# Sistem dosyaları
.DS_Store
Thumbs.db

# VSCode klasörü
.vscode/
*.code-workspace

# Geçici dosyalar
*~
*.swp
*.bak

# Derleme veya çıktı klasörleri
dist/
build/

# Log dosyaları
*.log

# Node (eğer kullanıldıysa)
node_modules/
